mixin input(param)
  if(label != "")
    if(param.type == "expandable")
      label.form__label.expandable-list= param.label
    else
      label.form__label= param.label

  case param.type
    when "textfield"
      if(param.focus == true)
        input.form__input.input.input_focus(type=param.type placeholder=param.placeholder)
      else
        input.form__input.input(type=param.type placeholder=param.placeholder)
    when "subscription"
      .form__subscription
        input.form__input.input(type=param.type placeholder=param.placeholder)
        <svg class="form__subscription-icon">
          <use xlink:href="#icon-arrow_forward"></use>
        </svg>
    when "checkbox"
      each val in param.value
        label.form__checkbox-label
          input.form__checkbox(type=param.type name=param.type)
          .form__checkbox-text.text= val
    when "radio"
      each val in param.value
        label.form__radio-label
          input.form__radio(type=param.type name=param.type)
          .form__radio-text.text= val
    when "rich-checkbox"
      each val,key in param.value
        label.form__checkbox-label
          input.form__checkbox(type="checkbox" name="checkbox")
          .form__checkbox-text.text
            span.text__title= key
            p.form__richCheckboxText= val
    when "expandable"
      .expandable-list__items
        each val in param.value
          label.form__checkbox-label
            input.form__checkbox(type="checkbox" name=param.type)
            .form__checkbox-text.text= val
    when "toggle"
      label.form__toggle-label
        input.form__toggle(type="checkbox")
        .form__toggle-text.text= param.value
    when "submit"
      button.button.button_colorful.form__submit= param.value