mixin input(param)
  .input
    if(param.label)
      if(param.type === "textfield" || param.type === "subscription")
        h3.input__label.label= param.label

    case param.type
      when "textfield"
        if(param.focus == true)
          input.input__textfield.input__textfield_focus(type=param.type placeholder=param.placeholder)
        else
          input.input__textfield(type=param.type placeholder=param.placeholder)
      when "subscription"
        .input__wrapper
          input.input__textfield(type=param.type placeholder=param.placeholder)
          svg.input__wrapper-icon
            use(xlink:href="#icon-arrow_forward")
      when "checkbox"
        if(param.label)
          h3.input__label-checkbox.label= param.label
        each val in param.value
          label.input__checkbox-wrapper
            input.input__checkbox(type=param.type name=param.type)
            .input__checkbox-text.text= val
      when "radio"
        if(param.label)
          h3.input__label-radio.label= param.label
        each val in param.value
          label.input__radio-wrapper
            input.input__radio(type=param.type name=param.type)
            .input__radio-text.text= val
      when "rich-checkbox"
        if(param.label)
          h3.input__label-rich.label= param.label
        each val,key in param.value
          label.input__checkbox-wrapper
            input.input__checkbox(type="checkbox" name="checkbox")
            .input__checkbox-text.text
              span.text__title= key
              p.input__richCheckboxText= val
      when "toggle"
        if(param.label)
          h3.input__label-toggle.label= param.label
        label.input__toggle-wrapper
          input.input__toggle(type="checkbox")
          .input__toggle-text.text= param.value
      when "submit"
        button.button.button_colorful.input__submit= param.value