mixin item(options)
  -let previewClass= "item__preview"
  -let descriptionClass= "item__description"
  -let className= "item__text"
  -if(options.color)
    -previewClass += "-color"
    -previewClass +=" item__preview-color"
    -descriptionClass += "-color"
    case options.color
      when "dark100"
        -previewClass += "_dark100"
      when "dark75"
        -previewClass += "_dark75"
      when "dark50"
        -previewClass += "_dark50"
      when "dark25"
        -previewClass += "_dark25"
      when "dark5"
        -previewClass += "_dark5"
      when "purple"
        -previewClass += "_purple"
      when "green"
        -previewClass += "_green"
    .item
      div(class = previewClass)
      div(class = descriptionClass)
        p(class = options.isBold ? className+" item__text_bold" : className)= options.description
        -if(options.subtext)
          p(class = className)= options.subtext
  -if(options.text)
    -previewClass += "-text"
    -descriptionClass += "-text"
    .item
      div(class = previewClass)
        case options.text
          when "h1"
            h1= options.text
          when "h2"
            h2= options.text
          when "h3"
            h3= options.text
          when "body"
            =options.text
      div(class = descriptionClass)
        case options.text
          when "h1"
            h1= options.description
          when "h2"
            h2= options.description
          when "h3"
            h3= options.description
          when "body"
            =options.description

.blocks
  .blocks__row
    .color-container
      +item({color:"dark100", description: "Dark Shade 100%", subtext: "#1F2041", isBold:true})
      +item({color:"dark75", description: "Dark Shade 75%", subtext: "#1F2041", isBold:true})
      +item({color:"dark50", description: "Dark Shade 50%", subtext: "#1F2041", isBold:true})
      +item({color:"dark25", description: "Dark Shade 25%", subtext: "#1F2041", isBold:true})
      +item({color:"dark5", description: "Dark Shade 5%", subtext: "#1F2041", isBold:true})
      +item({color:"purple", description: "Purple", subtext: "#BC9CFF", isBold:true})
      +item({color:"green", description: "Green", subtext: "#6FCF97", isBold:true})
    .text-container
      +item({text:"h1", description: "This one is the sub-section or widget title"})
      +item({text:"h2", description: "Next one is the item title inside widgets"})
      +item({text:"h3", description: "This is a label or CTA text "})
      +item({text:"body", description: "This is the body text which is used for most of\u00A0the\u00A0design, like paragraphs, lists, etc."})