//label - надпись над элементом
//placeholder - текст если ничего не выбрано
//value - массив значений выпадающего меню

mixin dropdown(param)
  .dropdown
    .dropdown__backdrop(data-type="backdrop")
    h3.dropdown__label.label= param.label
    .input__wrapper
      input.dropdown__input.input__textfield(type="dropdown" placeholder=param.placeholder data-type="input")
      svg.dropdown__icon.input__wrapper-icon(data-type="input")
        use(xlink:href="#icon-expand_more" data-type="input")
    .dropdown__menu.input
      -for(let i=0; i<param.value.length; i++)
        .dropdown__menu-item
          p.dropdown__text= param.value[i]
          .dropdown__menu-item-counter
            button.dropdown__counter-button(type="button" data-type="counter-minus") -
            input.dropdown__number(type="number" value="1" data-type="counter")
            button.dropdown__counter-button(type="button" data-type="counter-plus") +
      .dropdown__menu-buttons
        button.dropdown_clear.link.link_disabled(data-type="clear") очистить
        button.dropdown_confirm.link(data-type="confirm") применить


//range =true - выбрать диапазон дат, =false - выбрать 1 дату
//dateformat - формат отображения даты. Например "dd-M-yyyy"
mixin dropdown-date(param)
  if(param.label.length == 2)
    .dropdown-container
      -for (var i = 0; i < param.label.length; i++)
        .dropdown
          h3.dropdown__label.label= param.label[i]
          .input__wrapper
            if(i==0)
              input.dropdown__input.input__textfield.start_date.datepicker-here(
                type="dropdown"
                placeholder="ДД.ММ.ГГГГ"
                data-position="bottom left"
                data-range= "true"
                data-multiple-dates-separator=" - "
                data-date-format= param.dateformat)
              svg.dropdown__icon.input__wrapper-icon(data-type="input")
                use(xlink:href="#icon-expand_more" data-type="input")
            if(i==1)
              input.dropdown__input.input__textfield.end_date(
                type="dropdown"
                placeholder="ДД.ММ.ГГГГ")
              <svg class="dropdown__icon input__wrapper-icon">
                <use xlink:href="#icon-expand_more"></use>
              </svg>
  else
    .dropdown
      h3.dropdown__label.label= param.label
      .input__wrapper
        input.dropdown__input.input__textfield.datepicker-here(
          type="dropdown"
          placeholder="ДД.ММ.ГГГГ"
          data-position="right top"
          data-range= param.range ? "true" : "false"
          data-multiple-dates-separator=" - "
          data-date-format= param.dateformat)
        svg.dropdown__icon.input__wrapper-icon(data-type="input")
          use(xlink:href="#icon-expand_more" data-type="input")


