//label - надпись над элементом
//placeholder - текст если ничего не выбрано
//values - массив значений выпадающего меню

mixin dropdown(label, placeholder, values)
  label.form__label= label
  .dropdown
    .dropdown__wrapper.form__subscription
      input.dropdown__input.input(type="dropdown" placeholder=placeholder)
      <svg class="dropdown__icon form__subscription-icon">
        <use xlink:href="#icon-expand_more"></use>
      </svg>
    .dropdown__submenu.input
      -for(var i=0; i<values.length; i++)
        .dropdown__submenu-item
          p.dropdown__text= values[i]
          .dropdown__submenu-item-counter
            button.dropdown__counter-button-minus(type="button") -
            input.dropdown__number(type="number" value="1")
            button.dropdown__counter-button-plus(type="button") +
      .dropdown__submenu-buttons
        button.dropdown_clear.link.link_disabled очистить
        button.dropdown_confirm.link применить


//range =true - выбрать диапазон дат, =false - выбрать 1 дату
//dateformat - формат отображения даты. Например "dd-M-yyyy"
mixin dropdown-date(label, range, dateformat)
    if(label.length == 2)
      .dropdown-container
        -for (var i = 0; i < label.length; i++)
          label.form__label= label[i]
          .dropdown
              .form__subscription
                if(i==0)
                  input.dropdown__input.input.start_date.datepicker-here(
                    type="dropdown"
                    placeholder="ДД.ММ.ГГГГ"
                    data-position="bottom left"
                    data-range= "true"
                    data-multiple-dates-separator=" - "
                    data-date-format= dateformat)
                  <svg class="dropdown__icon form__subscription-icon">
                    <use xlink:href="#icon-expand_more"></use>
                  </svg>
                if(i==1)
                  input.dropdown__input.input.end_date(
                    type="dropdown"
                    placeholder="ДД.ММ.ГГГГ")
                  <svg class="dropdown__icon form__subscription-icon">
                    <use xlink:href="#icon-expand_more"></use>
                  </svg>
    else
      label.form__label= label
      .dropdown
          .form__subscription
            input.dropdown__input.input.datepicker-here(
              type="dropdown"
              placeholder="ДД.ММ.ГГГГ"
              data-position="right top"
              data-range= range ? "true" : "false"
              data-multiple-dates-separator=" - "
              data-date-format= dateformat)
            <svg class="dropdown__icon form__subscription-icon">
              <use xlink:href="#icon-expand_more"></use>
            </svg>

mixin dropdown-test()
  .dropdown-container

script(src="blocks/dropdown/dropdown.js")


