mixin reservation-option(options)
  .room-reservation__price-body
    if(options.theme == "info")
      .room-reservation__price-text.room-reservation__price-text_info= options.name
      span.room-reservation__price.price= options.price
    else
      .room-reservation__price-text= options.name
      span.room-reservation__price.price= options.price

mixin room-reservation(options)
  .card-room-reservation
    .room-reservation__header
      .room-reservation__title
        span.room-reservation__number= options.number
        span.room-reservation__type= options.type
      .room-reservation__header-price-body
        span.price.price_bold= options.price
        span.room-reservation__header-price-text в сутки
    .card__row-with-label
      +dropdown-date({label:['прибытие','выезд']})
    .card__row-with-label
      +dropdown({label:"Гости", placeholder:"Сколько гостей",
        value:[
        'Взрослые',
        'дети',
        'младенцы'
      ]})
    .card__row-with-label
      +reservation-option({name:"9 990₽ х 4 суток", price:"39 960"})
      +reservation-option({name:"Сбор за услуги: скидка 2 179₽", price:"0", theme:"info"})
      +reservation-option({name:"Сбор за дополнительные услуги", price:"300", theme:"info"})
    .room-reservation__total
      .room-reservation__total-text
        |Итого
      .room-reservation__total-separator
      .room-reservation__total-price.price
        |38 081
    .card__button.room-reservation-button
      +input({type:"submit", value:"Забронировать"})